/*! normalize.css v1.1.0 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #007dbc;
    text-shadow: none;
    color: white;
}

::selection {
    background: #007dbc;
    text-shadow: none;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444;
}
.page-container {
    position: relative;
    -webkit-transition: left 0.6s;
    -moz-transition: left 0.6s;
    transition: left 0.6s;
    z-index: 10;
    background: white;
}
.disable-dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.container {
    width: auto;
}
.container::after {
    clear: both;
}

#main-nav-menu {
    float: none;
    margin: 0 auto;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
header {
    background: url(img/home-pattern.png) repeat;
}

.light {
    width: 100%;
    height: 100%;
    background: url(img/light.png) center center no-repeat;
    background-size: 1920px 1920px;
}
header .lulab-logo {
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 100%;
    text-align: center;
    line-height: 20px;
}
.lulab-logo p {
    letter-spacing: 3px;
    color: #007dbc;
    font-size: 20px;
    padding: 10px;
    cursor: default;
}
.lulab-logo h1 a {
    display: block;
    overflow: hidden;
    width: 240px;
    height: 56px;
    text-indent: -999px;
    background: url(img/logo.svg) no-repeat;
    background-size: 240px 56px;
    margin: 0 auto;
}
nav {
    height: 100px;
    line-height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    background: transparent;
    transition: background 0.3s;
}
nav .navbar-inner {
    position: relative;
}

nav .navbar-inner::before, .navbar-inner::after {
    display: table;
    line-height: 0;
    content: "";
}
nav .navbar-inner::after {
    clear: both;
}

nav ul {
    height: inherit;
    line-height: inherit;
    overflow: visible;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0;
}

nav ul li {
    height: inherit;
    line-height: inherit;
    display: block;
    float: left;
    text-align: center;
    padding: 0 20px;
    letter-spacing: 3px;
    color: #007dbc;
    font-size: 16px;
}
nav ul li a {
    display: block;
    color: #007dbc;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color: 0.5s;
    transition: color 0.5s;
}
nav ul li.active a, nav ul li:hover a {
    color: #479ee9;
}
#close-menu-btn-container {
    height: 60px;
    display: none;
    vertical-align: middle;
}
#show-mobile-menu-container {
    display: none;
    height: 35px;
    width: 35px;
    position: fixed;
    top: 15px;
    right: 15px;
    line-height: 10px;
}
.btn {
    display: inline-block;
    zoom: 1;
    *display: inline;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
}
.btn-bar {
    display: block;
    height: 5px;
    background: black;
    border-radius: 5px;
    margin: 4px 0;
}
.menu-btn {
    width: 30px;
    height: 30px;
}
#close-menu-btn {
    margin-left: 20px;
    border: none;
}
#close-menu-btn .btn-bar {
    background: #e7e7e7;
}
#close-menu-btn:hover .btn-bar {
    background: white;
}
#open-menu-btn {
    width: 23px;
    height: 23px;
    padding: 3px;
    border: 1px solid #007dbc;
}
#open-menu-btn .btn-bar {
    background: #007dbc;
    margin: 3px 0;
    height: 4px;
}
#open-menu-btn:hover {
    border-color: #479ee9;
}
#open-menu-btn:hover .btn-bar {
    background: #479ee9;
}
nav.navbar-stuck {
    position: fixed;
    top: 0;
    bottom: auto;
    background: #fff;
}
nav.navbar-stuck ul li,
nav.navbar-stuck ul li a {
    color: #333;
}
nav.navbar-stuck ul li.active a,
nav.navbar-stuck ul li:hover a {
    color: #000000;
    text-shadow: 0 0 0.2em #7f7f7f;
}

section {
    margin: 10px 0;
    border-top: 3px dashed #bfbfbf;
}
article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px 50px;
}
section .section-title {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: lowercase;
    padding: 60px 0 5px;
    margin: 50px 0;
    color: #999;
    background: transparent url(img/icons.svg) top center no-repeat;
    background-size: 50px;
    font-weight: 200;
    overflow: hidden;
}
section#research {
    background: white;
}
section#research .section-title {
    background-position: center -250px;
}
section#people, section#alumni {
    background: transparent url(img/people-bg.jpg) repeat;
    margin-bottom: 0;
}
section#people article {
    padding-bottom: 0;
}
section#people .section-title, section#alumni .section-title {
    background-position: center -125px;
}
section#publication .section-title {
    background-position: center -375px;
    margin-bottom: 10px;
}
section#contact {
    background: transparent url(img/contact-bg.jpg) center fixed;
    background-size: cover;
    /*background-attachment: scroll;*/
    border-top-color:#0f67b8;
    color: white;
    padding-bottom: 40px;
}
section#contact .section-title {
    background-position: center 0;
    color: white;
    margin: 70px 0 40px;
}
section#contact p {
    font-size: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    font-weight: 200;
}
footer {
    height: 250px;
    border-bottom: 10px solid #003f5f;
}
.group-pic {
    width: 100%;
    padding-bottom: 60px;
}
.group-pic-img{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
.row-fluid {
    width: 100%;
    *zoom: 1;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 5%;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid .span6 {
    width: 47.5%;
}
.row-fluid .span3 {
    width: 21.25%;
}

.row-fluid::after {
    clear: both;
}
.row-fluid::before, .row-fluid::after {
    display: table;
    line-height: 0;
    content: "";
}
.ri-span {
    text-align: center;
}
.ri-span p {
    text-align: justify;
    color: #555;
    font-size: 18px;
}
.ri-img {
    width: 60%;
}
.ri-title {
    font-size: 28px;
    font-weight: normal;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin: 28px 0;
    cursor: default;
    text-transform: capitalize;
}

.member-name, .member-title {
    line-height: 22px;
    font-size: 22px;
    margin: 15px 0 5px;
    cursor: default;
    font-weight: normal;
    color: #333;
}
.member-title {
    line-height: 12px;
    font-size: 12px;
    margin: 5px 0 15px;
    color: #555;
    text-wrap: none;
    white-space: nowrap;
}
.member-title a {
    color: #444;
    text-decoration: none;
}
.member-title a:hover {
    text-decoration: underline;
}
.member-description {
    margin: 0;
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    /*height: 125px;*/
    overflow-y: auto;
    overflow-x: hidden;
}
.member-description p {
    margin: 0;
}
.member-description a {
    color: #333;
    text-decoration: none;
}
.member-description a:hover {
    text-decoration: underline;
}
.member-description em {
    color: #333;
    font-style: normal;
}
.row-fluid .span-member, .row-fluid .span-member:first-child {
    text-align: center;
    width: 22%;
    overflow: hidden;
    margin: 20px 1%;
    border-radius: 20px;
    height: 400px;
}
.member-avatar {
    width: 65%;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 auto;
    border-radius: 50%;
}
.member-ope {
    text-align: center;
    background: transparent;
    height: 70px;
    overflow: hidden;
}
.member-ope .member-ope-inner {
    position: relative;
}

.member-ope .member-ope-inner::before, .member-ope-inner::after {
    display: table;
    line-height: 0;
    content: "";
}
.member-ope .member-ope-inner::after {
    clear: both;
}

.member-ope ul {
    height: inherit;
    line-height: inherit;
    overflow: visible;
    padding: 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 auto;
}

.member-ope ul li {
    height: inherit;
    line-height: inherit;
    display: block;
    float: left;
    letter-spacing: 2px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0 5px 5px;
}
.member-ope ul li a {
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-decoration: none;
    text-indent: -1000px;
    background: transparent url(img/social-icons.svg) no-repeat;
    background-size: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.member-ope ul li:hover a {
    opacity: 0.4;
}
.member-ope ul li.icon-facebook a {
    background-position: 0 -1px;
}
.member-ope ul li.icon-pinterest a {
    background-position: 0 -184px;
}
.member-ope ul li.icon-twitter a {
    background-position: 0 -63px;
}
.member-ope ul li.icon-linkedin a {
    background-position: 0 -123px;
}
.member-ope ul li.icon-gplus a {
    background-position: 0 -245px;
}
.member-ope ul li.icon-renren a {
    background-position: 0 -306px;
}
.member-ope ul li.icon-weibo a {
    background-position: 0 -367px;
}
.member-ope ul li.icon-homepage a {
    background-position: 0 -550px;
}
.member-ope ul li.icon-researchgate a {
    background-position: 0 -611px;
}
.member-ope ul li.icon-cv a {
    background-position: 0 -490px;
}
.member-ope ul li.icon-email a {
    background-position: 0 -428px;
}
.contact-btns {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: block;
    text-align: center;
}
.contact-btns li {
    margin: 10px 0;
}
.contact-btns li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    zoom: 1;
    *display: inline;
    line-height: 16px;
    font-size: 16px;
    font-weight: 200;
    padding: 15px;
    background: #0e4876 url(img/contact-icons.svg) no-repeat;
    box-shadow: 4px 4px 0 black;
    text-align: left;
    background-position: 15px 0;
}
.contact-btns li a:hover {
    box-shadow: none;
}
.contact-btns li.contact-email-btn a {
    background-position: 15px 16px;
    padding-left: 45px;
}
.contact-btns li.contact-tel-btn a {
    background-position: 15px -86px;
    padding-left: 42px;
}
.contact-btns li.contact-address-btn a {
    line-height: 16px;
    font-size: 13px;
    background-position: 12px -183px;
    padding-left: 50px;
}
.contact-btns li.alumni-trigger a {
    line-height: 18px;
    font-size: 18px;
    background-image: none;
    background-color: #cfcfcf;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    color: #1468b1;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;


}
footer p {
    margin: 0;
}
.footer-gohome {
    text-align: center;
    line-height: 60px;
    padding-top: 80px;
}
.footer-gohome .btn-gohome {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -1000px;
    background-image: url(img/icons.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 0 -500px;
}
.footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #444;
    padding: 30px 0 5px;
}
.footer a {
    color: #444;
    text-decoration: none;
}
.footer a:hover {
    color: white;
    background: #444;
}
.sub-footer {
    text-align: center;
    /*text-transform: lowercase;*/
    font-size: 12px;
    font-weight: 200;
    color: #888;
}
.sub-footer a {
    color: #888;
    text-decoration: none;
}
.sub-footer a:hover {
    color: white;
    background-color: #888;
}
.pub-year {
    font-size: 20px;
    margin: 15px 0;
    font-weight: 200;
    line-height: 36px;
}
.pub-year-title {
    color: #333;
    padding-right: 10px;
}
.pub-year-btn {
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
    color: #007dbc;
    text-decoration: none;
    margin: 0 5px;
}
.pub-year-btn:hover, .pub-year-btn-active {
    background: #007dbc;
    color: white;
}
.pub-list {
    list-style: none;
    margin: 15px 0;
    padding: 0;
}
.pub-item {
    margin: 5px 0;
    padding: 3px 0 3px 10px;
    border-left: 5px solid #d2ebff;
    text-align: justify;
    color: #666;
    line-height: 150%;
}
.pub-item:hover {
    background: #f5fbff;
    border-left-color: #2b9bff;
}
.pub-item .title {
    color: #333;
    text-transform: capitalize;
}
.pub-item .title a {
    color: #333;
    text-decoration: none;
}
.pub-item .title a:hover {
    color: white;
    background: #666;
}
.pub-item .journal {
    color: #333;
    text-transform: capitalize;
    font-style: italic;
    color: #555;
}
.pub-item .vol {
    color: #444;
}


/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    border: solid #fff 5px;
    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(img/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(img/bx_controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(img/bx_controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 62%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(img/bx_controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(img/bx_controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}
.featured-pub-info {
    position: absolute;
    left: 6%;
    top: 24%;
    width: 40%;
    height: 69%;
    overflow: hidden;
}
.featured-pub-info h3 {
    color: white;
    font-weight: normal;
    font-size: 26px;
    line-height: 120%;
}
.featured-read-btn {
    margin: 10px 0;
    padding: 10px 10px;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    bottom: 0;
}
.featured-read-btn:hover {
    background: white;
    color: black;
}
.alumni-wnd, .alumni-btn {
    display: none;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Large desktop */
@media only screen and (min-width: 1200px) {
    .alumni-btn { display: block; }
}

/* Portrait tablet to landscape and desktop */
@media only screen and (min-width: 769px) and (max-width: 979px) {
    .alumni-btn { display: block; }
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 768px) {
    body { padding: 0;}
    .lulab-logo h1 a {
        width: 200px;
        height: 46px;
        background-size: 200px 46px;
    }
    .lulab-logo p {
        font-size: 18px;
    }
    nav {
        height: 500px;
        line-height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        position: fixed;
        width: 300px;
        text-align: left;
        background: #262626;
        border-left: 5px solid white;
        z-index: 0;
        /*display: none;*/
    }
    nav .navbar-inner {
        height: 100%;
    }

    nav ul {
        line-height: inherit;
        width: 100%;
        overflow: visible;
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    nav ul li {
        width: 100%;
        height: 60px;
        line-height: inherit;
        display: block;
        text-align: left;
        padding: 0;
        border-top: 1px solid #313131;
        border-bottom: 1px solid black;
        letter-spacing: 1px;
        color: #e7e7e7;
        font-size: 20px;
        font-weight: normal;
        text-transform: capitalize;
    }
    nav ul li a {
        display: block;
        color: #e7e7e7;
        text-decoration: none;
        padding: 0 20px;
    }
    nav ul li.active, nav ul li:hover{
        background-color: #0c0c0c;
        border-top: 1px solid #0c0c0c;
    }
    nav ul li.active a, nav ul li:hover a {
        color: #fff;

    }
    #close-menu-btn-container {
        display: block;
    }
    #show-mobile-menu-container {
        display: block;
    }
    .ri-title {
        font-size: 24px;
    }
    .row-fluid .span-member, .row-fluid .span-member:first-child {
        text-align: center;
        width: 30%;
        overflow: hidden;
        margin: 20px 1%;
        border-radius: 20px;
    }
    .featured-pub-info h3 {
        font-size: 20px;
    }
    .featured-read-btn {
        font-size: 15px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .row-fluid .span-member, .row-fluid .span-member:first-child {
        text-align: center;
        width: 46%;
        overflow: hidden;
        margin: 20px 1%;
        border-radius: 20px;
    }
    .member-description {
        /*height: 140px;*/
    }
    .featured-pub-info h3 {
        font-size: 16px;
    }
    .featured-read-btn {
        font-size: 13px;
        line-height: 13px;
    }
}

/* Landscape phones and down */
@media only screen and (max-width: 480px) {
    body { padding: 0;}
    .lulab-logo h1 a {
        width: 160px;
        height: 37px;
        background-size: 160px 37px;
    }
    .lulab-logo p {
        font-size: 16px;
    }
    .row-fluid [class*="span"], .row-fluid [class*="span"]:first-child {
        float: none;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    .ri-title {
        font-size: 28px;
    }
    .member-name, .member-title {
        line-height: 26px;
        font-size: 26px;
    }
    .member-title {
        line-height: 14px;
        font-size: 14px;
    }
    .member-description {
        font-size: 16px;
        line-height: 19px;
    }
    section#contact {
        background: transparent url(img/contact-bg-mobile.jpg) fixed repeat;
        background-size: 100%;
    }
    section#contact p {
        font-size: 18px;
        line-height: 18px;
    }
    .member-description {
        /*height: auto;*/
        /*margin-bottom: 10px;*/
    }
    .group-pic {
        display: none;
    }
    .bx-wrapper{
        display: none;
    }
}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
