                        <div class="span-member">
                            <img src="img/avatars/mem-default.jpg" alt="御坂 美琴" class="member-avatar retina">
                            <h3 class="member-name">御坂 美琴</h3>
                            <h4 class="member-title">Level 5, 超電磁砲（レールガン）</h4>
                            <div class="member-description">
                                <p>元はレベル1の能力者だったが、数々のカリキュラムをこなしレベル5の第3位にまで登りつめた[9]功績は教育指導の模範とされている。また、普通の中学よりも程度の高い授業内容をこなしており、18桁のパスコードを一度聞いただけで暗記し、英語・フランス語・ロシア語でも不自由なくコミュニケーションや読み取りが可能で、勉学も非常に優秀。</p>
                            </div>
                            <div class="member-ope">
                                <div class="member-ope-inner">
                                <ul>
                                    <li class="icon-homepage"><a href="http://ja.wikipedia.org/wiki/御坂美琴" title="Homepage">Homepage</a></li>
                                    <li class="icon-linkedin"><a href="http://linkedin.com/123" title="LinkedIn Profile">LinkedIn</a></li>
                                    <li class="icon-researchgate"><a href="https://www.researchgate.net/profile/Yang_Liu55/" title="ResearchGate Profile">ResearchGate</a></li>
                                    <li class="icon-cv"><a href="#cv-address" title="CV">CV</a></li>
                                    <li class="icon-email"><a href="mailto:ucla@ucla.edu" title="Email">email</a></li>
                                    <li class="icon-pinterest"><a href="http://pinterest.com/123" title="Pinterest Profile">Pinterest</a></li>
                                    <li class="icon-facebook"><a href="http://facebook.com/123" title="facebook">facebook</a></li>
                                    <li class="icon-gplus"><a href="http://www.google.com/123" title="Google+">Google+</a></li>
                                    <li class="icon-renren"><a href="http://renren.com/123" title="Renren">Renren</a></li>
                                    <li class="icon-twitter"><a href="http://twitter.com/istef" title="Twitter">Twitter</a></li>
                                    <li class="icon-weibo"><a href="http://weibo.com/123" title="Sina Weibo">Weibo</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
   
                        <div class="span-member">
                            <img src="img/avatars/mem-default2.jpg" alt="上条 当麻" class="member-avatar retina">
                            <h3 class="member-name">上条 当麻</h3>
                            <h4 class="member-title">Level 0, 幻想殺し（イマジンブレイカー）</h4>
                            <div class="member-description">
                                <p>比較的低レベルの高校に通っているが、その学校でさえ赤点・補習の常連になるほど成績が悪い落ちこぼれ[8]。また外国語が全く話せず、携帯のアプリで日常英会話の勉強をした事もあるが、効果は薄い。しかし頭自体は悪い訳ではなく、咄嗟の判断力や理解力には優れている。なお、漫画やゲームなどのサブカルチャー系の知識はそれなりにある。</p>
                            </div>
                            <div class="member-ope">
                                <div class="member-ope-inner">
                                <ul>
                                    <li class="icon-homepage"><a href="http://ja.wikipedia.org/wiki/御坂美琴" title="Homepage">Homepage</a></li>
                                    <li class="icon-linkedin"><a href="http://linkedin.com/123" title="LinkedIn Profile">LinkedIn</a></li>
                                    <li class="icon-researchgate"><a href="https://www.researchgate.net/profile/Yang_Liu55/" title="ResearchGate Profile">ResearchGate</a></li>
                                    <li class="icon-cv"><a href="#cv-address" title="CV">CV</a></li>
                                    <li class="icon-email"><a href="mailto:ucla@ucla.edu" title="Email">email</a></li>
                                    <li class="icon-pinterest"><a href="http://pinterest.com/123" title="Pinterest Profile">Pinterest</a></li>
                                    <li class="icon-facebook"><a href="http://facebook.com/123" title="facebook">facebook</a></li>
                                    <li class="icon-gplus"><a href="http://www.google.com/123" title="Google+">Google+</a></li>
                                    <li class="icon-renren"><a href="http://renren.com/123" title="Renren">Renren</a></li>
                                    <li class="icon-twitter"><a href="http://twitter.com/istef" title="Twitter">Twitter</a></li>
                                    <li class="icon-weibo"><a href="http://weibo.com/123" title="Sina Weibo">Weibo</a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
