include mixins
doctype html
html(lang='en', class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title Lu Lab @ UCLA Chemical Engineering
		meta(name='description', content='The website of Yunfeng Lu\'s research group at UCLA Chemical Engineering.')
		meta(name='keywords', content='Yunfeng Lu nanocapsule mesoporous protein delivery')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(rel='shortcut icon', href='favicon.ico')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72-precomposed.png')
		link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114-precomposed.png')
		link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144-precomposed.png')

		link(type='text/plain', rel='author', href='humans.txt')
		link(href='http://fonts.googleapis.com/css?family=Raleway:200,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet' href='styles.css')
		script(src='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
	body
		//- IE browser lower than version 8
		<!--[if lte IE 8]>
		p.chromeframe
			| You are using an 
			strong outdated
			|  browser. Please 
			a(href='http://browsehappy.com/') upgrade your browser
			|  or 
			a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
			|  to improve your experience.
		<![endif]-->

		//- The top navigation bar
		nav#nav.navbar
			.navbar-inner
				//- close menu button for mobile device
				#close-menu-btn-container
					//- draw the menu button (for mobile device)
					a#close-menu-btn.btn.menu-btn(href='#')
						- for (var i=0;i<3;i++)
							span.btn-bar
				
				//- here the menu start
				ul
					each item in ['home', 'research', 'people', 'publication', 'contact']
						li(data-section=item)
							a(href='#'+item) #{item}

		//- main page
		.page-container
			//- header section
			header#home
				//- menu trigger for mobile view
				#show-mobile-menu-container
					a#open-menu-btn.btn.menu-btn(href="#")
						- for (var i=0;i<3;i++)
							span.btn-bar

				//- logo
				.light
					.lulab-logo
						h1
							a(href="http://lu-lab.com") Lu Lab
						p Yunfeng Lu's Research Group at UCLA Chemical Engineering

			//- research section
			section#research
				article
					h2.section-title Research interests
					.row-fluid
						//- battery material group intro
						#ri-left.ri-span.span6
							img.ri-img(src='img/ri-energy.svg', alt='Battery Materials')
							h3.ri-title Energy Storage & Conversion
							p
								| Developing technologies that enable effective harvesting and storage of energy has emerged as an essential topic. We are interested in the design of nanomaterials for energy storage and conversion. We work extensively on supercapacitors, lithium-ion batteries, lithium-metal batteries, flow batteries, intermediate-temperature fuel cells, and methane conversion.

						//- bio-material group intro
						#ri-left.ri-span.span6
							img.ri-img(src='img/ri-bio.svg', alt='Biomolecule Delivery')
							h3.ri-title Drug Delivery & Nanomedicine
							p
								| We focus on the delivery of proteins and nucleic acids for therapeutic applications, including the treatment for acute intoxication, metabolic diseases, viral infection, and cancer. Recently, we also developed a CNS (central nervous system) delivery technology with high efficiency and biocompatibility. This method provides us new opportunities to take on CNS disorders and injuries, brain tumors, and neuro- degenerative diseases. 

			//- group members section
			section#people
				article
					h2.section-title Group members
					.row-fluid.row-member
						each member in members
							if member.status == 'current'
								+group_member(member)
					ul.contact-btns.alumni-btn
						li.alumni-trigger
							a#alumni-trigger(href='#alumni') show alumni
			section.alumni-wnd#alumni
				article
					h2.section-title Alumni
					.alumni-content
						h3.alumni-wnd-h3 Graduate Students
						ul.alumni-list
							each item in alumni.grads
								li
									strong #{item.name}&nbsp;
									span #{item.desc}
						h3.alumni-wnd-h3 Postdoc Fellows
						ul.alumni-list
							each item in alumni.postdocs 
								li
									strong #{item.name}&nbsp;
									span #{item.desc}
						h3.alumni-wnd-h3 Visiting Scholars
						ul.alumni-list
							each item in alumni.visitings
								li
									strong #{item.name}&nbsp;
									span #{item.desc}


			//- publications
			section#publication
				article
					h2.section-title Publications
					ul#featured-pubs.bxslider
						each featured_article in featured_articles
							+featured_slide(featured_article)
					.pub-year
						span.pub-year-title Year:
						span#pub-year-list.pub-year-list
					ul#pub-list.pub-list

			//- //- oppotunites
			//- section#oppotunites
			//- 	article
			//- 		h2.section-title Oppotunites
			//- 		p Multiple positions for postdocs and graduate students are available for both energy and nanomedicine research

			//- contact
			section#contact
				article
					h2.section-title Contact us
					p Contact us today if you are interested! 
					ul.contact-btns
						li.contact-email-btn
							a(href="mailto:luucla@ucla.edu") write to us
						li.contact-tel-btn
							a(href='#') call us: +1 (310) 794-7238
					p Or visit our lab
					ul.contact-btns
						li.contact-address-btn
							a(href='http://maps.apple.com/?q=420%20Westwood%20Plaza,%20Los%20Angeles,%20CA%2090095') 5531G Boelter Hall, 420 Westwood Plaza<br />Los Angeles, CA 90095, USA

			//- footer
			footer
				p.footer-gohome
					a.btn-gohome(href='#home') Go Home
				p.footer
					| &copy;2019 
					a(href='http://www.seas.ucla.edu/~lu/') Lu Lab
					| . All rights reserved.
				p.sub-footer
					| Version 3.1 build #{build_number} - Designed by&nbsp; 
					a(href='http://yangliu.name') Yang Liu

			//- MISC
			.disable-dim

		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')
		script(src='js/main.min.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-42632277-1', 'ucla.edu');
			ga('send', 'pageview');
