mixin group_member(member)
	- var default_avatar = 'mem-default3.jpg'
	- var retina = []
	.span-member
		if member.avatar
			if member.avatar_retina
				- retina = ['retina']
			img.member-avatar(class=retina, src='img/avatars/' + member.avatar, alt=member.name)
		else
			img.member-avatar.retina(src='img/avatars/' + default_avatar, alt=member.name)
		
		h3.member-name #{member.name}
		h4.member-title!= member.title
		.member-description
			p #{member.background}
			if member.description
				p!= member.description
			else
				if member.research_interests
					p
						em Research interests:
						|  #{member.research_interests}
		.member-ope
			.member-ope-inner
				ul
					- var ope_count = 0, ope_max = 4
					if member.homepage && ope_count < ope_max
						li.icon-homepage
							a(href=member.homepage, title='Homepage') Homepage
						- ope_count++
					if member.linkedin && ope_count < ope_max
						li.icon-linkedin
							a(href=member.linkedin, title='LinkedIn Profile') LinkedIn
						- ope_count++
					if member.researchgate && ope_count < ope_max
						li.icon-researchgate
							a(href=member.researchgate, title='ResearchGate Profile') ResearchGate
						- ope_count++
					if member.email && ope_count < ope_max
						li.icon-email
							a(href='mailto:'+member.email, title='Email') Email
						- ope_count++
					if member.cv && ope_count < ope_max
						li.icon-cv
							a(href=member.cv, title='Resume') CV
						- ope_count++
					if member.gplus && ope_count < ope_max
						li.icon-gplus
							a(href=member.gplus, title='Google+') Google+
						- ope_count++
					if member.facebook && ope_count < ope_max
						li.icon-facebook
							a(href=member.facebook, title='Facebook') Facebook
						- ope_count++
					if member.twitter && ope_count < ope_max
						li.icon-twitter
							a(href=member.twitter, title='Twitter') Twitter
						- ope_count++
					if member.renren && ope_count < ope_max
						li.icon-renren
							a(href=member.renren, title='Renren') Renren
						- ope_count++
					if member.weibo && ope_count < ope_max
						li.icon-weibo
							a(href=member.weibo, title='Weibo') Weibo
						- ope_count++
					if member.pinterest && ope_count < ope_max
						li.icon-pinterest
							a(href=member.pinterest, title='Pinterest') Pinterest
						- ope_count++

mixin featured_slide(featured)
	li
		img.feature-pub.retina(src='img/paper/'+featured.img, alt=featured.title)
		.featured-pub-info
			h3 #{featured.title}
			a.featured-read-btn(href=featured.link) read more